.root{
    -fx-background-color: #00aba9;
}

.buttons {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: white;

    -fx-text-fill: white;
    -fx-font-family: "Book Antiqua";
    -fx-font-weight: italic;
    -fx-font-size: 15px;

    -fx-prefHeight: 40;
}

.labels {
    -fx-text-fill: white;
    -fx-font-family: "Kristen ITC";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-border-width: 2px;
}

.boxes {
    -fx-background-color: #1d1d1d;

}